<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  {% load static %}
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
      <div class="sidebar-brand-icon">
          <img src="{% static 'images/logo.png' %}" width="50px" height="50px">
      </div>
      <div class="sidebar-brand-text mx-3">MESA</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  {% if user.is_authenticated %}
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <!--<hr class="sidebar-divider">

  <!-- Heading --
  <div class="sidebar-heading">
      Jobs
  </div>

  {% for job in jobs %}
  <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fas fa-fw fa-folder"></i>
          <span>{{ job.name }}</span></a>
  </li>
  {% endfor %} -->

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <div class="sidebar-heading">
    Global
  </div>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" href="{% url 'settings' %}">
          <i class="fas fa-fw fa-cog"></i>
          <span>Settings</span></a>
  </li>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
